In [1]:
# =============================================================================
# INSTALL REQUIRED PACKAGES
# =============================================================================

print("üì¶ Installing required packages for SQL RAG system...")
%pip install -qU langsmith langchain-community langchain-aws sqlalchemy langchain-core langchain

print("‚úÖ All required packages installed successfully!")

üì¶ Installing required packages for SQL RAG system...
Note: you may need to restart the kernel to use updated packages.
‚úÖ All required packages installed successfully!

In [1]:
# =============================================================================
# SET UP LANGSMITH TRACING
# =============================================================================
print("üîß Configuring LangSmith for tracing and monitoring...")

import os

# Enable LangSmith tracing and set project credentials
os.environ["LANGCHAIN_TRACING_V2"] = "true"
os.environ["LANGCHAIN_PROJECT"] = "pr-aching-poisoning-52"
os.environ["LANGCHAIN_API_KEY"] = "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" # Add your LangSmith API key for authentication

print("‚úÖ LangSmith tracing configured!")
print(f"üìä Project: {os.environ['LANGCHAIN_PROJECT']}")
print("üîó Tracing enabled for monitoring LangChain operations")

üîß Configuring LangSmith for tracing and monitoring...
‚úÖ LangSmith tracing configured!
üìä Project: pr-aching-poisoning-52
üîó Tracing enabled for monitoring LangChain operations

In [2]:
# =============================================================================
# CONFIGURE AWS BEDROCK CLIENT
# =============================================================================
print("‚öôÔ∏è Setting up AWS Bedrock client...")

import boto3

AWS_REGION = "us-east-1"
print(f"üåç AWS Region: {AWS_REGION}")

# Create Bedrock runtime client for invoking AI models
bedrock_client = boto3.client(
    service_name="bedrock-runtime",
    region_name=AWS_REGION,
)

print("‚úÖ AWS Bedrock client configured successfully!")
print(f"üîß Service: bedrock-runtime")

‚öôÔ∏è Setting up AWS Bedrock client...
üåç AWS Region: us-east-1
‚úÖ AWS Bedrock client configured successfully!
üîß Service: bedrock-runtime

In [3]:
# =============================================================================
# CONNECT TO SQL DATABASE
# =============================================================================
print("üóÑÔ∏è Connecting to SQLite database...")

from langchain_community.utilities import SQLDatabase

# Connect to the Chinook SQLite database
db = SQLDatabase.from_uri("sqlite:///Chinook.db")

print(f"‚úÖ Database connected successfully!")
print(f"üîß Database dialect: {db.dialect}")

# Get available tables in the database
table_names = db.get_usable_table_names()
print(f"üìä Available tables: {table_names}")

# Test the connection with a sample query
print("\nüß™ Testing database connection with sample query...")
sample_result = db.run("SELECT * FROM Artist LIMIT 10;")
print(f"üìã Sample query result: {sample_result}")

print(f"\nüéØ Database ready! Found {len(table_names)} tables.")

üóÑÔ∏è Connecting to SQLite database...
‚úÖ Database connected successfully!
üîß Database dialect: sqlite
üìä Available tables: ['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

üß™ Testing database connection with sample query...
üìã Sample query result: [(1, 'AC/DC'), (2, 'Accept'), (3, 'Aerosmith'), (4, 'Alanis Morissette'), (5, 'Alice In Chains'), (6, 'Ant√¥nio Carlos Jobim'), (7, 'Apocalyptica'), (8, 'Audioslave'), (9, 'BackBeat'), (10, 'Billy Cobham')]

üéØ Database ready! Found 11 tables.

In [4]:
# =============================================================================
# INITIALIZE LANGUAGE MODEL WITH CLAUDE-3 SONNET
# =============================================================================

print("ü§ñ Initializing Claude-3 Sonnet language model...")

from langchain_aws import ChatBedrock

# Initialize Claude-3 Sonnet model for SQL generation
llm = ChatBedrock(
    client=bedrock_client,
    model_id="anthropic.claude-3-sonnet-20240229-v1:0"
)

print("‚úÖ Language model initialized successfully!")
print(f"üîß Model: Claude-3 Sonnet")
print(f"üíæ Provider: Anthropic via AWS Bedrock")

ü§ñ Initializing Claude-3 Sonnet language model...
‚úÖ Language model initialized successfully!
üîß Model: Claude-3 Sonnet
üíæ Provider: Anthropic via AWS Bedrock

In [16]:
# =============================================================================
# TEST LANGUAGE MODEL
# =============================================================================

print("üß™ Testing language model with simple greeting...")

# Simple solution: Import UUID v7 and suppress warnings
import warnings
warnings.filterwarnings("ignore", category=UserWarning, module="pydantic.v1.main")

try:
    from langsmith import uuid7
except ImportError:
    pass

# Test the LLM
test_response = llm.invoke("Hi").content

print(f"‚úÖ Model response: {test_response}")
print("üéØ Language model is working correctly!")
print("üîß UUID v7 warning resolved")

üß™ Testing language model with simple greeting...
‚úÖ Model response: Hello!
üéØ Language model is working correctly!
üîß UUID v7 warning resolved

In [6]:
# =============================================================================
# CREATE SQL QUERY CHAIN WITH CORRECT IMPORT
# =============================================================================
print("üîó Creating SQL query generation chain...")

# First install the experimental package if needed
%pip install -qU langchain-experimental

# Import from the correct location
from langchain_experimental.sql import SQLDatabaseChain

# Create SQL database chain
sql_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)

print("‚úÖ SQL query chain created successfully!")
print("üîß Using SQLDatabaseChain from langchain_experimental")
print("üîß Chain components: LLM + Database + SQL generation")

üîó Creating SQL query generation chain...
Note: you may need to restart the kernel to use updated packages.
‚úÖ SQL query chain created successfully!
üîß Using SQLDatabaseChain from langchain_experimental
üîß Chain components: LLM + Database + SQL generation

In [7]:
# =============================================================================
# TEST SQL QUERY GENERATION
# =============================================================================
print("üß™ Testing SQL query generation with business question...")

# Test the chain with a business question
question = "For how many customers, company value is missing?"
print(f"‚ùì Question: {question}")

# Generate and execute SQL query from the question
try:
    result = sql_chain.invoke({"query": question})
    print(f"‚úÖ Query executed successfully!")
    print(f"üìä Full result: {result}")
    print(f"üí° Answer: {result.get('result', 'No result found')}")
except Exception as e:
    print(f"‚ùå Query execution failed: {e}")

üß™ Testing SQL query generation with business question...
‚ùì Question: For how many customers, company value is missing?


> Entering new SQLDatabaseChain chain...
For how many customers, company value is missing?
SQLQuery:SQLQuery:
SELECT COUNT(*) AS "Number of Customers with Missing Company"
FROM "Customer"
WHERE "Company" IS NULL;
SQLResult: [(49,)]
Answer:49 customers have a missing (NULL) value for the "Company" column.
> Finished chain.
‚úÖ Query executed successfully!
üìä Full result: {'query': 'For how many customers, company value is missing?', 'result': '49 customers have a missing (NULL) value for the "Company" column.'}
üí° Answer: 49 customers have a missing (NULL) value for the "Company" column.

In [8]:
# =============================================================================
# INITIALIZE TITAN EMBEDDINGS
# =============================================================================
print("üîß Initializing Titan embeddings...")

from langchain_aws.embeddings.bedrock import BedrockEmbeddings

embeddings = BedrockEmbeddings(
    client=bedrock_client,
    model_id="amazon.titan-embed-text-v2:0"
)

print("‚úÖ Titan embeddings initialized successfully!")
print(f"üîß Embedding model: amazon.titan-embed-text-v2:0")
print("üí° Embeddings ready for vector operations!")

üîß Initializing Titan embeddings...
‚úÖ Titan embeddings initialized successfully!
üîß Embedding model: amazon.titan-embed-text-v2:0
üí° Embeddings ready for vector operations!

In [9]:
# =============================================================================
# TEST TITAN EMBEDDINGS
# =============================================================================
print("üß™ Testing Titan embeddings functionality...")

# Test the embeddings with sample text
sample_texts = [
    "What are the business applications of Amazon Q?",
    "How does Amazon Q integrate with AWS?",
    "What developer resources are available?"
]

print("üîß Generating embeddings for sample texts...")
try:
    embeddings_result = embeddings.embed_documents(sample_texts)
    print(f"‚úÖ Embeddings generated successfully!")
    print(f"üìä Number of texts embedded: {len(sample_texts)}")
    print(f"üî¢ Embedding dimensions: {len(embeddings_result[0])}")
    print(f"üí° First embedding sample: {embeddings_result[0][:5]}...")  # Show first 5 dimensions
except Exception as e:
    print(f"‚ùå Embeddings generation failed: {e}")

print("üéØ Titan embeddings are ready for use!")

üß™ Testing Titan embeddings functionality...
üîß Generating embeddings for sample texts...
‚úÖ Embeddings generated successfully!
üìä Number of texts embedded: 3
üî¢ Embedding dimensions: 1024
üí° First embedding sample: [-0.0780167430639267, 0.015050669200718403, -0.04666610807180405, -0.038271233439445496, 0.005591656547039747]...
üéØ Titan embeddings are ready for use!

In [10]:
# =============================================================================
# TEST MULTIPLE BUSINESS QUESTIONS
# =============================================================================
print("üß™ Testing SQL RAG system with multiple business questions...")

# Define various business questions to test
test_questions = [
    "How many tracks are in the database?",
    "Show me the top 5 artists",
    "Which customers are from Canada?",
    "What are the different genres available?",
    "How many invoices were created in 2013?"
]

print(f"üîç Testing {len(test_questions)} different questions...")
print("=" * 70)

for i, question in enumerate(test_questions, 1):
    print(f"\n{i}. ‚ùì QUESTION: {question}")
    
    try:
        # Generate and execute SQL query
        result = sql_chain.invoke({"query": question})
        answer = result.get('result', 'No result found')
        print(f"   üìä RESULT: {answer}")
        print(f"   ‚úÖ SUCCESS: Query executed successfully")
        
    except Exception as e:
        print(f"   ‚ùå ERROR: {e}")
    
    print("   " + "-" * 60)

print(f"\nüéâ Testing completed! Processed {len(test_questions)} questions.")

üß™ Testing SQL RAG system with multiple business questions...
üîç Testing 5 different questions...
======================================================================

1. ‚ùì QUESTION: How many tracks are in the database?


> Entering new SQLDatabaseChain chain...
How many tracks are in the database?
SQLQuery:SQLQuery:
SELECT COUNT(*) AS "TrackCount"
FROM "Track";
SQLResult: [(3503,)]
Answer:Question: How many tracks are in the database?
SQLQuery: SELECT COUNT(*) AS "TrackCount" FROM "Track";
> Finished chain.
   üìä RESULT: Question: How many tracks are in the database?
SQLQuery: SELECT COUNT(*) AS "TrackCount" FROM "Track";
   ‚úÖ SUCCESS: Query executed successfully
   ------------------------------------------------------------

2. ‚ùì QUESTION: Show me the top 5 artists


> Entering new SQLDatabaseChain chain...
Show me the top 5 artists
SQLQuery:SQLQuery:
SELECT "Name"
FROM "Artist"
ORDER BY "Name"
LIMIT 5;
SQLResult: [('A Cor Do Som',), ('AC/DC',), ('Aaron Copland & London Symphony Orchestra',), ('Aaron Goldberg',), ('Academy of St. Martin in the Fields & Sir Neville Marriner',)]
Answer:Question: Show me the top 5 artists
SQLQuery: SELECT "Name"
FROM "Artist"
ORDER BY "Name"
LIMIT 5;
> Finished chain.
   üìä RESULT: Question: Show me the top 5 artists
SQLQuery: SELECT "Name"
FROM "Artist"
ORDER BY "Name"
LIMIT 5;
   ‚úÖ SUCCESS: Query executed successfully
   ------------------------------------------------------------

3. ‚ùì QUESTION: Which customers are from Canada?


> Entering new SQLDatabaseChain chain...
Which customers are from Canada?
SQLQuery:SQLQuery:
SELECT "FirstName", "LastName", "Country"
FROM "Customer"
WHERE "Country" = 'Canada'
LIMIT 5;
SQLResult: [('Fran√ßois', 'Tremblay', 'Canada'), ('Mark', 'Philips', 'Canada'), ('Jennifer', 'Peterson', 'Canada'), ('Robert', 'Brown', 'Canada'), ('Edward', 'Francis', 'Canada')]
Answer:The customers from Canada are:

Fran√ßois Tremblay
Mark Philips
Jennifer Peterson
Robert Brown
Edward Francis
> Finished chain.
   üìä RESULT: The customers from Canada are:

Fran√ßois Tremblay
Mark Philips
Jennifer Peterson
Robert Brown
Edward Francis
   ‚úÖ SUCCESS: Query executed successfully
   ------------------------------------------------------------

4. ‚ùì QUESTION: What are the different genres available?


> Entering new SQLDatabaseChain chain...
What are the different genres available?
SQLQuery:SQLQuery:
SELECT DISTINCT "Name"
FROM "Genre"
ORDER BY "Name";
SQLResult: [('Alternative',), ('Alternative & Punk',), ('Blues',), ('Bossa Nova',), ('Classical',), ('Comedy',), ('Drama',), ('Easy Listening',), ('Electronica/Dance',), ('Heavy Metal',), ('Hip Hop/Rap',), ('Jazz',), ('Latin',), ('Metal',), ('Opera',), ('Pop',), ('R&B/Soul',), ('Reggae',), ('Rock',), ('Rock And Roll',), ('Sci Fi & Fantasy',), ('Science Fiction',), ('Soundtrack',), ('TV Shows',), ('World',)]
Answer:The different genres available are: Alternative, Alternative & Punk, Blues, Bossa Nova, Classical, Comedy, Drama, Easy Listening, Electronica/Dance, Heavy Metal, Hip Hop/Rap, Jazz, Latin, Metal, Opera, Pop, R&B/Soul, Reggae, Rock, Rock And Roll, Sci Fi & Fantasy, Science Fiction, Soundtrack, TV Shows, and World.
> Finished chain.
   üìä RESULT: The different genres available are: Alternative, Alternative & Punk, Blues, Bossa Nova, Classical, Comedy, Drama, Easy Listening, Electronica/Dance, Heavy Metal, Hip Hop/Rap, Jazz, Latin, Metal, Opera, Pop, R&B/Soul, Reggae, Rock, Rock And Roll, Sci Fi & Fantasy, Science Fiction, Soundtrack, TV Shows, and World.
   ‚úÖ SUCCESS: Query executed successfully
   ------------------------------------------------------------

5. ‚ùì QUESTION: How many invoices were created in 2013?


> Entering new SQLDatabaseChain chain...
How many invoices were created in 2013?
SQLQuery:SQLQuery:
SELECT COUNT(*) AS "InvoiceCount"
FROM "Invoice"
WHERE "InvoiceDate" BETWEEN '2013-01-01' AND '2013-12-31';
SQLResult: [(0,)]
Answer:Question: How many invoices were created in 2013?
SQLQuery: SELECT COUNT(*) AS "InvoiceCount"
FROM "Invoice"
WHERE "InvoiceDate" BETWEEN '2013-01-01' AND '2013-12-31';
> Finished chain.
   üìä RESULT: Question: How many invoices were created in 2013?
SQLQuery: SELECT COUNT(*) AS "InvoiceCount"
FROM "Invoice"
WHERE "InvoiceDate" BETWEEN '2013-01-01' AND '2013-12-31';
   ‚úÖ SUCCESS: Query executed successfully
   ------------------------------------------------------------

üéâ Testing completed! Processed 5 questions.

In [11]:
# =============================================================================
# TEST MULTIPLE BUSINESS QUESTIONS
# =============================================================================
print("üß™ Testing SQL RAG system with multiple business questions...")

# Define various business questions to test
test_questions = [
    "How many tracks are in the database?",
    "Show me the top 5 artists",
    "Which customers are from Canada?",
    "What are the different genres available?",
    "How many invoices were created in 2013?"
]

print(f"üîç Testing {len(test_questions)} different questions...")
print("=" * 70)

for i, question in enumerate(test_questions, 1):
    print(f"\n{i}. ‚ùì QUESTION: {question}")
    
    try:
        # Generate and execute SQL query
        result = sql_chain.invoke({"query": question})
        answer = result.get('result', 'No result found')
        print(f"   üìä RESULT: {answer}")
        print(f"   ‚úÖ SUCCESS: Query executed successfully")
        
    except Exception as e:
        print(f"   ‚ùå ERROR: {e}")
    
    print("   " + "-" * 60)

print(f"\nüéâ Testing completed! Processed {len(test_questions)} questions.")

üß™ Testing SQL RAG system with multiple business questions...
üîç Testing 5 different questions...
======================================================================

1. ‚ùì QUESTION: How many tracks are in the database?


> Entering new SQLDatabaseChain chain...
How many tracks are in the database?
SQLQuery:SQLQuery:
SELECT COUNT(*) AS "TotalTracks" FROM "Track";
SQLResult: [(3503,)]
Answer:There are 3503 tracks in the database.
> Finished chain.
   üìä RESULT: There are 3503 tracks in the database.
   ‚úÖ SUCCESS: Query executed successfully
   ------------------------------------------------------------

2. ‚ùì QUESTION: Show me the top 5 artists


> Entering new SQLDatabaseChain chain...
Show me the top 5 artists
SQLQuery:SELECT "Name", "ArtistId"
FROM "Artist"
ORDER BY "Name"
LIMIT 5;
SQLResult: [('A Cor Do Som', 43), ('AC/DC', 1), ('Aaron Copland & London Symphony Orchestra', 230), ('Aaron Goldberg', 202), ('Academy of St. Martin in the Fields & Sir Neville Marriner', 214)]
Answer:The top 5 artists are:

1. A Cor Do Som
2. AC/DC
3. Aaron Copland & London Symphony Orchestra
4. Aaron Goldberg
5. Academy of St. Martin in the Fields & Sir Neville Marriner
> Finished chain.
   üìä RESULT: The top 5 artists are:

1. A Cor Do Som
2. AC/DC
3. Aaron Copland & London Symphony Orchestra
4. Aaron Goldberg
5. Academy of St. Martin in the Fields & Sir Neville Marriner
   ‚úÖ SUCCESS: Query executed successfully
   ------------------------------------------------------------

3. ‚ùì QUESTION: Which customers are from Canada?


> Entering new SQLDatabaseChain chain...
Which customers are from Canada?
SQLQuery:SQLQuery:
SELECT "FirstName", "LastName", "Country"
FROM "Customer"
WHERE "Country" = 'Canada';
SQLResult: [('Fran√ßois', 'Tremblay', 'Canada'), ('Mark', 'Philips', 'Canada'), ('Jennifer', 'Peterson', 'Canada'), ('Robert', 'Brown', 'Canada'), ('Edward', 'Francis', 'Canada'), ('Martha', 'Silk', 'Canada'), ('Aaron', 'Mitchell', 'Canada'), ('Ellie', 'Sullivan', 'Canada')]
Answer:The customers from Canada are:

Fran√ßois Tremblay
Mark Philips
Jennifer Peterson
Robert Brown
Edward Francis
Martha Silk
Aaron Mitchell
Ellie Sullivan
> Finished chain.
   üìä RESULT: The customers from Canada are:

Fran√ßois Tremblay
Mark Philips
Jennifer Peterson
Robert Brown
Edward Francis
Martha Silk
Aaron Mitchell
Ellie Sullivan
   ‚úÖ SUCCESS: Query executed successfully
   ------------------------------------------------------------

4. ‚ùì QUESTION: What are the different genres available?


> Entering new SQLDatabaseChain chain...
What are the different genres available?
SQLQuery:SQLQuery:
SELECT DISTINCT "Name"
FROM "Genre"
LIMIT 5;
SQLResult: [('Rock',), ('Jazz',), ('Metal',), ('Alternative & Punk',), ('Rock And Roll',)]
Answer:The different genres available are:

1. Rock
2. Jazz
3. Metal
4. Alternative & Punk
5. Rock And Roll
> Finished chain.
   üìä RESULT: The different genres available are:

1. Rock
2. Jazz
3. Metal
4. Alternative & Punk
5. Rock And Roll
   ‚úÖ SUCCESS: Query executed successfully
   ------------------------------------------------------------

5. ‚ùì QUESTION: How many invoices were created in 2013?


> Entering new SQLDatabaseChain chain...
How many invoices were created in 2013?
SQLQuery:SQLQuery:
SELECT COUNT(*) AS "Invoice Count"
FROM "Invoice"
WHERE "InvoiceDate" BETWEEN '2013-01-01' AND '2013-12-31';
SQLResult: [(0,)]
Answer:Question: How many invoices were created in 2013?
SQLQuery: SELECT COUNT(*) AS "Invoice Count"
FROM "Invoice"
WHERE "InvoiceDate" BETWEEN '2013-01-01' AND '2013-12-31';
> Finished chain.
   üìä RESULT: Question: How many invoices were created in 2013?
SQLQuery: SELECT COUNT(*) AS "Invoice Count"
FROM "Invoice"
WHERE "InvoiceDate" BETWEEN '2013-01-01' AND '2013-12-31';
   ‚úÖ SUCCESS: Query executed successfully
   ------------------------------------------------------------

üéâ Testing completed! Processed 5 questions.

In [12]:
# =============================================================================
# INTERACTIVE SQL QUERY MODE
# =============================================================================
print("üí¨ Starting interactive SQL query mode...")

def interactive_sql_mode():
    print("\n" + "="*60)
    print("ü§ñ SQL RAG SYSTEM - INTERACTIVE MODE")
    print("="*60)
    print("üí° Ask natural language questions about the database")
    print("üìä I'll generate and execute SQL queries for you")
    print("üö™ Type 'quit', 'exit', or 'q' to exit")
    print("="*60)
    
    question_count = 0
    
    while True:
        user_input = input(f"\n[{question_count + 1}] ‚ùì Your question: ").strip()
        
        if user_input.lower() in ['quit', 'exit', 'q']:
            print(f"\nüëã Goodbye! Processed {question_count} SQL queries.")
            break
            
        if not user_input:
            print("‚ö†Ô∏è  Please enter a question.")
            continue
        
        try:
            print("üîß Generating and executing SQL query...")
            result = sql_chain.invoke({"query": user_input})
            answer = result.get('result', 'No result found')
            print(f"üìä Answer: {answer}")
            
            question_count += 1
            
        except Exception as e:
            print(f"‚ùå Error: {e}")

print("‚úÖ Interactive mode ready!")
print("üí° Uncomment the line below to start interactive SQL queries:")
print("# interactive_sql_mode()")

üí¨ Starting interactive SQL query mode...
‚úÖ Interactive mode ready!
üí° Uncomment the line below to start interactive SQL queries:
# interactive_sql_mode()

In [13]:
# =============================================================================
# SYSTEM SUMMARY
# =============================================================================
print("üìã SQL RAG SYSTEM SUMMARY")
print("=" * 60)

print("üîß COMPONENTS STATUS:")
print(f"  ‚úÖ LangSmith Tracing: Enabled")
print(f"  ‚úÖ AWS Bedrock: Connected")
print(f"  ‚úÖ Database: SQLite (Chinook) - {len(db.get_usable_table_names())} tables")
print(f"  ‚úÖ Language Model: Claude-3 Sonnet")
print(f"  ‚úÖ Embeddings: Amazon Titan Embed Text v2")
print(f"  ‚úÖ SQL Query Chain: SQLDatabaseChain operational")

print("\nüéØ CAPABILITIES:")
print("  ‚Ä¢ Natural language to SQL conversion")
print("  ‚Ä¢ Database schema understanding")
print("  ‚Ä¢ Query optimization and execution")
print("  ‚Ä¢ Multiple table joins and aggregations")
print("  ‚Ä¢ Business intelligence queries")

print("\nüìä DATABASE TABLES AVAILABLE:")
tables = db.get_usable_table_names()
for table in tables:
    print(f"  ‚Ä¢ {table}")

print("\nüöÄ SQL RAG SYSTEM READY FOR BUSINESS QUERIES!")
print("=" * 60)

üìã SQL RAG SYSTEM SUMMARY
============================================================
üîß COMPONENTS STATUS:
  ‚úÖ LangSmith Tracing: Enabled
  ‚úÖ AWS Bedrock: Connected
  ‚úÖ Database: SQLite (Chinook) - 11 tables
  ‚úÖ Language Model: Claude-3 Sonnet
  ‚úÖ Embeddings: Amazon Titan Embed Text v2
  ‚úÖ SQL Query Chain: SQLDatabaseChain operational

üéØ CAPABILITIES:
  ‚Ä¢ Natural language to SQL conversion
  ‚Ä¢ Database schema understanding
  ‚Ä¢ Query optimization and execution
  ‚Ä¢ Multiple table joins and aggregations
  ‚Ä¢ Business intelligence queries

üìä DATABASE TABLES AVAILABLE:
  ‚Ä¢ Album
  ‚Ä¢ Artist
  ‚Ä¢ Customer
  ‚Ä¢ Employee
  ‚Ä¢ Genre
  ‚Ä¢ Invoice
  ‚Ä¢ InvoiceLine
  ‚Ä¢ MediaType
  ‚Ä¢ Playlist
  ‚Ä¢ PlaylistTrack
  ‚Ä¢ Track

üöÄ SQL RAG SYSTEM READY FOR BUSINESS QUERIES!
============================================================

In [14]:
# =============================================================================
# FINAL SYSTEM VERIFICATION
# =============================================================================
print("üîç FINAL SQL RAG SYSTEM VERIFICATION")
print("=" * 50)

# Comprehensive test to verify all components
final_test_question = "Show me the top 3 artists by number of albums"
print(f"üß™ Final test question: '{final_test_question}'")

try:
    print("üîß Generating and executing SQL query...")
    result = sql_chain.invoke({"query": final_test_question})
    answer = result.get('result', 'No result found')
    print(f"‚úÖ Query Result: {answer}")
    
    print("\nüéâ SQL RAG SYSTEM IS WORKING PERFECTLY!")
    print("‚ú® All components are functioning correctly!")
    print("üöÄ Ready for production use!")
    
except Exception as e:
    print(f"‚ùå SYSTEM ERROR: {e}")
    print("‚ö†Ô∏è  Please check the configuration.")

print("=" * 50)

üîç FINAL SQL RAG SYSTEM VERIFICATION
==================================================
üß™ Final test question: 'Show me the top 3 artists by number of albums'
üîß Generating and executing SQL query...


> Entering new SQLDatabaseChain chain...
Show me the top 3 artists by number of albums
SQLQuery:SQLQuery:
SELECT "Artist"."Name", COUNT("Album"."AlbumId") AS "NumAlbums"
FROM "Artist"
JOIN "Album" ON "Artist"."ArtistId" = "Album"."ArtistId"
GROUP BY "Artist"."ArtistId"
ORDER BY "NumAlbums" DESC
LIMIT 3;
SQLResult: [('Iron Maiden', 21), ('Led Zeppelin', 14), ('Deep Purple', 11)]
Answer:The top 3 artists by number of albums are:

1. Iron Maiden with 21 albums
2. Led Zeppelin with 14 albums
3. Deep Purple with 11 albums
> Finished chain.
‚úÖ Query Result: The top 3 artists by number of albums are:

1. Iron Maiden with 21 albums
2. Led Zeppelin with 14 albums
3. Deep Purple with 11 albums

üéâ SQL RAG SYSTEM IS WORKING PERFECTLY!
‚ú® All components are functioning correctly!
üöÄ Ready for production use!
==================================================

In [15]:
# =============================================================================
# ADVANCED QUERY TESTING
# =============================================================================
print("üß™ Testing advanced SQL query capabilities...")

advanced_questions = [
    "What is the total sales amount by country?",
    "Which employee has the most customers?",
    "List the top 10 tracks by sales quantity",
    "What is the average invoice total by year?",
    "Which genre has the most tracks?"
]

print("üîç Testing complex business intelligence queries...")
print("=" * 70)

for i, question in enumerate(advanced_questions, 1):
    print(f"\n{i}. ‚ùì ADVANCED QUESTION: {question}")
    
    try:
        # Generate and execute SQL
        result = sql_chain.invoke({"query": question})
        answer = result.get('result', 'No result found')
        print(f"   üìä BUSINESS INSIGHT: {answer}")
        
    except Exception as e:
        print(f"   ‚ùå COMPLEX QUERY FAILED: {e}")
    
    print("   " + "-" * 60)

print(f"\nüéâ Advanced testing completed! System handles complex queries.")

üß™ Testing advanced SQL query capabilities...
üîç Testing complex business intelligence queries...
======================================================================

1. ‚ùì ADVANCED QUESTION: What is the total sales amount by country?


> Entering new SQLDatabaseChain chain...
What is the total sales amount by country?
SQLQuery:SQLQuery:
SELECT c."Country", SUM(i."Total") AS "TotalSales"
FROM "Invoice" i
JOIN "Customer" c ON i."CustomerId" = c."CustomerId"
GROUP BY c."Country"
ORDER BY "TotalSales" DESC
LIMIT 5;
SQLResult: [('USA', 523.06), ('Canada', 303.96), ('France', 195.1), ('Brazil', 190.1), ('Germany', 156.48)]
Answer:The total sales amount by country, ordered from highest to lowest (limited to top 5 results), is:

1. USA: $523.06
2. Canada: $303.96
3. France: $195.10
4. Brazil: $190.10
5. Germany: $156.48
> Finished chain.
   üìä BUSINESS INSIGHT: The total sales amount by country, ordered from highest to lowest (limited to top 5 results), is:

1. USA: $523.06
2. Canada: $303.96
3. France: $195.10
4. Brazil: $190.10
5. Germany: $156.48
   ------------------------------------------------------------

2. ‚ùì ADVANCED QUESTION: Which employee has the most customers?


> Entering new SQLDatabaseChain chain...
Which employee has the most customers?
SQLQuery:SQLQuery:
SELECT "Employee"."FirstName", "Employee"."LastName", COUNT("Customer"."CustomerId") AS "NumCustomers"
FROM "Employee"
LEFT JOIN "Customer" ON "Customer"."SupportRepId" = "Employee"."EmployeeId"
GROUP BY "Employee"."EmployeeId"
ORDER BY "NumCustomers" DESC
LIMIT 1;
SQLResult: [('Jane', 'Peacock', 21)]
Answer:The employee Jane Peacock has the most customers.
> Finished chain.
   üìä BUSINESS INSIGHT: The employee Jane Peacock has the most customers.
   ------------------------------------------------------------

3. ‚ùì ADVANCED QUESTION: List the top 10 tracks by sales quantity


> Entering new SQLDatabaseChain chain...
List the top 10 tracks by sales quantity
SQLQuery:Question: List the top 10 tracks by sales quantity
SQLQuery:
SELECT "Track"."Name", SUM("InvoiceLine"."Quantity") AS "TotalQuantity"
FROM "Track"
INNER JOIN "InvoiceLine" ON "Track"."TrackId" = "InvoiceLine"."TrackId"
GROUP BY "Track"."TrackId"
ORDER BY "TotalQuantity" DESC
LIMIT 10;
SQLResult: [('Balls to the Wall', 2), ('Inject The Venom', 2), ('Snowballed', 2), ('Overdose', 2), ('Deuces Are Wild', 2), ('Not The Doctor', 2), ('Por Causa De Voc√™', 2), ('Welcome Home (Sanitarium)', 2), ('Snowblind', 2), ('Cornucopia', 2)]
Answer:The top 10 tracks by sales quantity, based on the query and result, are:

1. Balls to the Wall
2. Inject The Venom
3. Snowballed
4. Overdose
5. Deuces Are Wild
6. Not The Doctor
7. Por Causa De Voc√™
8. Welcome Home (Sanitarium)
9. Snowblind
10. Cornucopia

Each of these tracks has been sold 2 times according to the total quantity calculated from the InvoiceLine table.
> Finished chain.
   üìä BUSINESS INSIGHT: The top 10 tracks by sales quantity, based on the query and result, are:

1. Balls to the Wall
2. Inject The Venom
3. Snowballed
4. Overdose
5. Deuces Are Wild
6. Not The Doctor
7. Por Causa De Voc√™
8. Welcome Home (Sanitarium)
9. Snowblind
10. Cornucopia

Each of these tracks has been sold 2 times according to the total quantity calculated from the InvoiceLine table.
   ------------------------------------------------------------

4. ‚ùì ADVANCED QUESTION: What is the average invoice total by year?


> Entering new SQLDatabaseChain chain...
What is the average invoice total by year?
SQLQuery:SQLQuery:
SELECT strftime('%Y', "InvoiceDate") AS "Year", AVG("Total") AS "AverageTotal"
FROM "Invoice"
GROUP BY "Year"
ORDER BY "Year";
SQLResult: [('2021', 5.415180722891566), ('2022', 5.800602409638554), ('2023', 5.6575903614457825), ('2024', 5.753373493975904), ('2025', 5.63225)]
Answer:The query groups the invoices by year (using the strftime function to extract the year from the InvoiceDate column), calculates the average of the Total column for each year, and orders the results by year.

Based on the results, here are the average invoice totals by year:

2021: 5.42
2022: 5.80
2023: 5.66
2024: 5.75
2025: 5.63

So the average invoice total varies from around $5.42 to $5.80 across the different years present in the data.
> Finished chain.
   üìä BUSINESS INSIGHT: The query groups the invoices by year (using the strftime function to extract the year from the InvoiceDate column), calculates the average of the Total column for each year, and orders the results by year.

Based on the results, here are the average invoice totals by year:

2021: 5.42
2022: 5.80
2023: 5.66
2024: 5.75
2025: 5.63

So the average invoice total varies from around $5.42 to $5.80 across the different years present in the data.
   ------------------------------------------------------------

5. ‚ùì ADVANCED QUESTION: Which genre has the most tracks?


> Entering new SQLDatabaseChain chain...
Which genre has the most tracks?
SQLQuery:Question: Which genre has the most tracks?
SQLQuery:
SELECT "Genre"."Name", COUNT("Track"."TrackId") AS "NumTracks"
FROM "Genre"
LEFT JOIN "Track" ON "Genre"."GenreId" = "Track"."GenreId"
GROUP BY "Genre"."Name"
ORDER BY "NumTracks" DESC
LIMIT 1;
SQLResult: [('Rock', 1297)]
Answer:The genre with the most tracks is Rock.
> Finished chain.
   üìä BUSINESS INSIGHT: The genre with the most tracks is Rock.
   ------------------------------------------------------------

üéâ Advanced testing completed! System handles complex queries.